html {
    min-height: 100%;
    height: 100%;
    width:100%;
    overflow: hidden;
}

body {
    height: 100%;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    height: 100%;
    display: flex;  
    box-sizing: border-box;
}

.chatContainer {
    height: 100vh; 
    flex-grow: 1;
}

.roomList {
    height: 100vh;    
    margin: 0;
    color: white;
    background: #337ab7;
    width: 15rem;
  -ms-flex: 0 1rem;
  -webkit-box-flex:  0;
  -moz-box-flex:  0;
  -ms-box-flex:  0;
  box-flex:  0;
  display: flex;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.messageContainer {
    height: 90vh;        
    margin: 0;
    background: rgba(245, 248, 255, 0.40);
   -ms-flex: 1;
   -webkit-box-flex: 1;
   -moz-box-flex: 1;
   -ms-box-flex: 1;
   box-flex: 1;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-content: flex-start;
   order: 1;
   flex-shrink: 0;
   
}

.messageListContainer {
    overflow-y: scroll;    
    overflow-x: hidden; 
    height: 100%;
}

.messageListContainer::-webkit-scrollbar * {
    width: 10px;
    background-color: rgba(0,0,0,0);
}

.messageListContainer::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
}

.messageList {
    padding: 0;
    list-style-type: none;
}

.message {
    width: 100%;
    padding: 5px 0px 5px 5px;
}

.message:hover {
    background: rgb(245, 248, 255);
}
    

.addMessage {
    height: 10vh;            
    background: yellowgreen;
    display: flex;
    order: 2;
    width: 100%;
}